.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px
}

div.card {
    background-color: #638c7e;
}

.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
}   

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border: 3px solid #000
}

.card h2,
.card p {
    padding: 10px;
}

.card h2,
.card p,
.home h1 {
    text-align: center
}

.msg {
    display: block;
    text-align: center;
    margin: 20px 0;
}

.card h2 {
    color: #000000;
}

.card p {
    color: #1c2b26;
    margin: -10px;
}

.program-btn {
    margin: 10px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #638c7e;
    border: 0;
    border-radius: 5px;
    cursor: pointer
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.program-btn:hover {
    background-color: #aad0c2
}