.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px
}

.card {
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.card img {
	max-width: 100%;
	border-radius: 5px;
}

.card p {
	font-size: large;
	color: #1c2b26;
}
.card h2 {
	margin: 10px 0;
	color: #000;
}



.button-container {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.edit-button,
.delete-button {
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.msg {
    display: block;
    text-align: center;
    margin: 20px 0;
}