.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	padding: 20px;
	font-family: Arial, sans-serif;
}

.card {
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.card img {
	max-width: 100%;
	border-radius: 5px;
}

.card h3 {
	margin: 10px 0;
	color: #333;
}

.card p {
	margin: 5px 0;
	color: #666;
}

.button-container {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.edit-button,
.delete-button {
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.edit-button {
	background-color: #4CAF50;
	color: white;
}

.delete-button {
	background-color: #f44336;
	color: white;
}

.msg {
    display: block;
    text-align: center;
    margin: 20px 0;
}