.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -120px;
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    max-width: 400px;
    background-color: #638c7e
}

.create-form input {
    background-color: #aad0c2;
}

.create-form textarea {
    font-family: Arial;
    border: 1px solid #000;
    outline: none;
    background-color: #aad0c2;
}

.create-form label {
    color: #1c2b26
}

.create-form p {
    color: #1c2b26
}

.create-form h1 {
    text-align: center;
    color: #1c2b26;
    font-size: 1.5rem
}

.create-form button,
.create-form input {
    outline: none;
    padding: 10px;
    border: 1px solid #1c2b26;
    border-radius: 5px;
    font-size: .9rem
}

.create-form button {
    margin: 10px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #1c2b26;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}


.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-form a {
    text-decoration: underline;
    color: #aad0c2;

}

.create-form a:hover {
    color: #bee0d4;

}

.create-form button:hover {
    background-color: #2e423b
}

.error {
    color: red;
    font-size: .8rem
}