.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: rgb(248, 243, 243);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn {
    margin: 10px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #638c7e;
    border: 0;
    border-radius: 5px;
    cursor: pointer
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #aad0c2
}

