.reservation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}

.screen {
    width: 80%;
    height: 50px;
    background-color: #ddd;
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px
}

.movie-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.movie-thumbnail {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.movie-summary {
    flex: 1;
}

.seats-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px
}

.seat {
    width: 60px;
    height: 60px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 8px;
}

.seat.taken {
    background-color: #e44f4f;
    cursor: default;
}

.seat.selected {
    background-color: #4caf50;
}

.finish-reservation-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: 0;
    border-radius: 5px;
    cursor: pointer
}

.finish-reservation-btn:hover {
    background-color: #0056b3
}

.legend-container {
    width: 300px;
    padding-left: 20px;
    margin: auto;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.legend-available {
    background-color: #ccc;
}

.legend-reserved {
    background-color: #e44f4f;
}

.legend-selected {
    background-color: #4caf50;
}