.reservation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px
}

.screen {
  width: 80%;
  height: 50px;
  background-color: #ddd;
  margin-bottom: 20px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px
}

.seats-grid {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px
}

.seat {
  width: 120px;
  height: 80px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}

.seat.selected {
  background-color: #4caf50
}

.finish-reservation-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: 0;
  border-radius: 5px;
  cursor: pointer
}

.finish-reservation-btn:hover {
  background-color: #0056b3
}