.reservation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}

.movie-card img{
    border: 3px solid #000
}

.error {
    font-size: 20px;
}

.screen {
    color: #a0c9bb;
    max-width: 1153px;
    margin-top: 50px;
    width: 80%;
    height: 50px;
    background-color: #1c2b26;
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px
}

.movie-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.movie-thumbnail {
    margin-left: 25px;

    width: 200px;
    height: auto;
    margin-right: 20px;
}

.movie-summary {
    flex: 1;
}

.seats-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px
}

.seat {
    user-select: none;
    width: 60px;
    height: 60px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #4e7b85;
    border-radius: 8px;
}

.seat.taken {
    background-color: #1c2b26;
    cursor: default;
}

.seat.selected {
    background-color: #a0c9bb;
    color: #4e7b85
}

.finish-reservation-btn {
    margin: 10px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #638c7e;
    border: 0;
    border-radius: 5px;
    cursor: pointer
}

.finish-reservation-btn:hover {
    background-color: #aad0c2
}

.legend-container {
    width: 300px;
    margin: auto;
    margin-right: -50px;

}

.legend-item {
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #22434a;
    font-size: 18px;
}

.legend-item p {
    margin-left: 10px;
}

.legend-available {
    border: 2px solid #000;
    background-color: #4e7b85;
}

.legend-reserved {
    background-color: #1c2b26;
    border: 2px solid #000;
}

.legend-selected {
    border: 2px solid #000;
    background-color: #a0c9bb;
}